@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100&family=Kanit:ital@1&family=Noto+Sans+Cypro+Minoan&family=Open+Sans:ital,wght@0,300;0,400;1,400;1,500&display=swap");
body {
  font-family: "K2D", sans-serif;
}

@media only screen and (max-width: 640px) {
  .container {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}