@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100&family=Kanit:ital@1&family=Noto+Sans+Cypro+Minoan&family=Open+Sans:ital,wght@0,300;0,400;1,400;1,500&display=swap");
body {
  font-family: "K2D", sans-serif;
}
.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}
header,nav{
    z-index:1001 !important;
}

.subtitle{
  @apply text-red uppercase tracking-wide font-semibold text-lg
}
.title{
  @apply text-4xl md:text-5xl md:leading-snug font-bold my-2
}

.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}

.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  @apply text-red;
}

/* PrivateRouter.css */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-animation {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-animation::after {
  content: " Loading...";
  animation: spin 1s linear infinite;
}

